<link href="css/ordenesCompra.css" rel="stylesheet" />
<div ng-init="init()">
    <!--Page Title-->
    <div id="page-title">
        <h1 class="page-header text-overflow">Órdenes de Compra</h1>
    </div>
    <!--End page title-->
    <!--Page content-->
    <div id="page-content">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Filtros</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-1 control-label">Proceso:</label>
                                <div class="col-sm-3">
                                    <select class="selectpicker" data-live-search="false" data-width="100%" ng-model="proceso">
                                        <option value="">Seleccione el Proceso</option>
                                        <option ng-repeat="proceso in procesos" value="{{proceso.Proc_Id}}">{{proceso.Proc_Nombre}}</option>
                                    </select>
                                </div>
                                <label class="col-sm-1 control-label">División:</label>
                                <div class="col-sm-3">
                                    <select class="selectpicker" data-live-search="false" data-width="100%" ng-model="division">
                                        <option value="">Seleccione la División</option>
                                        <option ng-repeat="division in divisiones" value="{{division.idDivision}}">{{division.nombre}}</option>
                                    </select>
                                </div>
                                <label class="col-sm-1 control-label">Empresa:</label>
                                <div class="col-sm-3">
                                    <select class="selectpicker" data-live-search="false" data-width="100%" ng-model="empresa" ng-change="getSucursales()">
                                        <option value="">Seleccione Empresa</option>
                                        <option ng-repeat="empresa in empresas" value="{{empresa.idEmpresa}}">{{empresa.nombre}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label">Agencia:</label>
                                <div class="col-sm-3">
                                    <select class="selectpicker" data-live-search="false" data-width="100%" ng-model="sucursal" ng-change="getDepartamento()">
                                        <option value="">Seleccione la Agencia</option>
                                        <option ng-repeat="agencia in agencias" value="{{agencia.idSucursal}}">{{agencia.nombre}}</option>
                                    </select>
                                </div>
                                <label class="col-sm-1 control-label">Departamento:</label>
                                <div class="col-sm-3">
                                    <select class="selectpicker" data-live-search="false" data-width="100%" ng-model="departamento">
                                        <option value="">Seleccione el Departamento</option>
                                        <option ng-repeat="departamento in departamentos" value="{{departamento.idDepartamento}}">{{departamento.nombre}}</option>
                                    </select>
                                </div>
                                <label class="col-sm-1 control-label">Rango de Fechas:</label>
                                <div class="col-sm-3">
                                    <div class="input-group input-daterange" calendar>
                                        <input type="text" class="form-control" name="start" ng-model="fechaInicio" />
                                        <span class="input-group-addon">a</span>
                                        <input type="text" class="form-control" name="end" ng-model="fechaFin" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <button class="btn btn-info pull-right" type="submit" ng-click="buscaOrdenes(); muestraTab = true" ng-disabled="(proceso == '' || proceso == null || proceso == undefined || division == '' || division == null || division == undefined || empresa == '' || empresa == null || empresa == undefined)"><i class="ti-search"></i> Buscar</button>
                            </div>
                        </form>
                    </div>
                    <div ng-show="mostrarDetalleGeneral">
                        <div class="col-sm-12">
                            <hr>
                        </div>
                        <div class="col-sm-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h3 class="panel-title">Detalle General</h3>
                                </div>
                                <div class="ibox-content">
                                    <div id="idDetalleGeneral">
                                        <!-- <canvas id="doughnutChart" height="70"></canvas> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <hr>
                        </div>
                        <div class="col-sm-12">
                            <button class="btn btn-info pull-right" type="submit" ng-click="detalleGeneral()">Detalle General</button>
                        </div>
                    </div>
                    <div class="col-sm-12" ng-show="muestraTab">
                        <!-- TAB -->
                        <!--Nav Tabs-->
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a data-toggle="tab" class="btn btn-default" ng-click="nodo=true;buscaOrdenes()">Nodos</a>
                            </li>
                            <li>
                                <a data-toggle="tab" class="btn btn-default" ng-click="nodo=false;buscaOrdenes()">Estatus</a>
                            </li>
                        </ul>
                        <!--Tabs Content-->
                        <div ng-show="nodo">
                            <div class="col-sm-12">
                                <div class="col-sm-12">
                                </div>
                                <div class="col-sm-6" ng-repeat="encabezado in encabezadoOrdenes">
                                    <div class="panel">
                                        <div class="panel-heading">
                                            <h3 class="panel-title col-sm-12">{{encabezado.nomSucursal}} <span class="pull-right">{{encabezado.totalOrdenes}}</span></h3>
                                        </div>
                                        <div class="panel-body">
                                            <div class="row contenedor">
                                                <div>
                                                    <canvas id="{{encabezado.nomSucursal}}" height="70"></canvas>
                                                </div>
                                                <!--Morris Donut Chart placeholder -->
                                                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                                                <!-- <div id="{{encabezado.nomSucursal}}-morris-donut" style="height:312px"></div> -->
                                                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                                                <!-- <h4 ng-show="{{encabezado.idSucursal}} == muestraMensaje"> 
                                                    <div id="morrisdetails-item">
                                                        <div class="morris-hover-row-label">Nodo
                                                        </div>
                                                        <div class="morris-hover-point">Número de Documentos 
                                                        </div>
                                                    </div>
                                                </h4> -->
                                                <!-- -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-hide="nodo">
                            <div class="col-sm-12">
                                <div class="col-sm-12">
                                    <h4> </h4>
                                </div>
                                <div class="col-sm-6" ng-repeat="encabezadoEstatus in encabezadoOrdenes">
                                    <div class="panel">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">{{encabezadoEstatus.nomSucursal}} <span class="pull-right">{{encabezadoEstatus.totalOrdenes}}</span></h3>
                                        </div>
                                        <div class="panel-body">
                                            <div class="row contenedor">
                                                <div>
                                                    <canvas id="{{encabezadoEstatus.nomSucursal}}1" height="70"></canvas>
                                                </div>
                                                <!--Morris Donut Chart placeholder -->
                                                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                                                <!-- <div id="{{encabezadoEstatus.nomSucursal}}2-morris-donut" style="height:312px"></div> -->
                                                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END TAB -->
                    </div>
                </div>
            </div>
        </div>
        <!--End page content-->
    </div>
</div>
<!--Modal para colocars el numero del punteo-->
<!--===================================================-->
<div class="modal fade" id="ordenes" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle text-white"></i></button>
                <h4 class="modal-title text-white">Ordenes de Compra</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered ordenesCompra" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="text-top">Operacion</th>
                                <th class="text-top">Tipo <span class="filtrosSelect"></span></th>
                                <th class="text-top">Fecha</th>
                                <th class="text-top">Estatus <span class="filtrosSelect"></span></th>
                                <th class="text-top">Proveedor <span class="filtrosSelect"></span></th>
                                <th class="text-top">Empresa </th>
                                <th class="text-top">Sucursal
                                    <br><span class="filtrosSelect" ng-show="mostrarFitroSucursal"></span></th>
                                <th class="text-top">Departamento <span class="filtrosSelect"></span></th>
                                <th class="text-top">Usuario</th>
                                <th class="text-top">Nodo <span class="filtrosSelect"></span></th>
                                <th class="text-top">Importe <span class="inputSelect"></span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="orden in ordenes" ng-click="getDetalleOrden(orden)">
                                <td>{{orden.Folio_Operacion}}</td>
                                <td>{{orden.tipoorden}}</td>
                                <td>{{orden.oce_fechaorden | date : "dd/MM/yyyy"}}</td>
                                <td>{{orden.situacionOrden}}</td>
                                <td>{{orden.Proveedor}}</td>
                                <td>{{orden.empNombre}}</td>
                                <td>{{orden.sucursal}}</td>
                                <td>{{orden.depto}}</td>
                                <td>{{orden.usuario}}</td>
                                <td>{{orden.nodoactual + ' ' + orden.nombreNodo}}</td>
                                <td>{{orden.oce_importetotal | currency}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--===================================================-->
<!--End Modal para colocar el numero del punteo-->
<!--Modal para colocar el detalle de la orden -->
<!--===================================================-->
<div class="modal fade" id="documentos" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle text-white"></i></button>
                <h4 class="modal-title text-white">Orden de Compra: {{ordenCompra.Folio_Operacion}}</h4>
            </div>
            <div class="modal-body">
                <div>
                    <p><span class="text-main text-bold mar-no">Solicitante: </span><span>{{ordenCompra.usuario}}</span></p>
                    <p><span class="text-main text-bold mar-no">Empresa: </span><span>{{ordenCompra.empNombre}}</span></p>
                    <p><span class="text-main text-bold mar-no">Agencia: </span><span>{{ordenCompra.sucursal}}</span></p>
                    <p><span class="text-main text-bold mar-no">Departamento: </span><span>{{ordenCompra.depto}}</span></p>
                    <p><span class="text-main text-bold mar-no">Ultima Modificación: </span><span>{{ordenCompra.oce_fechaorden | date : "dd/MM/yyyy"}}</span></p>
                    <p><span class="text-main text-bold mar-no">Nodo Acutual: </span><span>{{ordenCompra.nodoactual + ' ' + ordenCompra.nombreNodo}}</span></p>
                    <p><span class="text-main text-bold mar-no">Estatus: </span><span>{{ordenCompra.situacionOrden}}</span></p>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="panel">
                            <div class="panel-heading">
                                <h5 class="panel-title">Documentos Entregados</h5>
                            </div>
                            <div class="panel-body">
                                <div ng-repeat="documento in documentos" class="form-group" ng-if="(documento.fechaCreacion != null)">
                                    <div>{{documento.nombreDocumento}} &nbsp;<span class="label label-info" ng-show="(documento.Es_Mandatorio == 1)">Mandatorio</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panel">
                            <div class="panel-heading">
                                <h5 class="panel-title">Documentos Faltantes</h5>
                            </div>
                            <div class="panel-body">
                                <div ng-repeat="noDocumento in documentos" class="form-group" ng-if="(noDocumento.fechaCreacion == null)">
                                    <div >{{noDocumento.nombreDocumento}} &nbsp;<span class="label label-info" ng-show="(noDocumento.Es_Mandatorio == 1)">Mandatorio</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-sm-6">
                    <table>
                        <thead>
                            <tr>
                                <th class="text-top">Documentos Entregados</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="documento in documentos">
                                <td ng-if="(documento.fechaCreacion != null)">{{documento.nombreDocumento}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-6">
                    <table>
                        <thead>
                            <tr>
                                <th class="text-top">Documentos Faltantes</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="noDocumento in documentos">
                                <td ng-if="(noDocumento.fechaCreacion == null)">{{noDocumento.nombreDocumento}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div> -->
            </div>
            <div class="modal-footer">
                <button class="btn btn-info" type="button" ng-click="irDigitalizacion()">Ir a Digitalización</button>
                <button class="btn btn-primary" type="button" ng-click="regresarOrdenes()">Regresar</button>
            </div>
        </div>
    </div>
</div>
<!--===================================================-->
<!--End Modal para colocar el detalle de la orden-->