<link href="css/ordenesCompra.css" rel="stylesheet" />
<div ng-init="init()">
    <!--Page Title-->
    <div id="page-title">
        <h1 class="page-header text-overflow">Reporte Órdenes de Compra</h1>
    </div>
    <!--End page title-->
    <!--Page content-->
    <div id="page-content">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Filtros</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-1 control-label">Proceso:</label>
                                <div class="col-sm-3">
                                    <select class="selectpicker" data-live-search="false" data-width="100%">
                                        <option>Seleccione el Proceso</option>
                                        <option ng-repeat="proceso in procesos" value="{{proceso.Proc_Id}}">{{proceso.Proc_Nombre}}</option>
                                    </select>
                                </div>
                                <label class="col-sm-1 control-label">Empresa:</label>
                                <div class="col-sm-3">
                                    <select class="selectpicker" data-live-search="false" data-width="100%" ng-model="empresa" ng-change="getSucursales()">
                                        <option value="">Seleccione Empresa</option>
                                        <option ng-repeat="empresa in empresas" value="{{empresa.idEmpresa}}">{{empresa.nombre}}</option>
                                    </select>
                                </div>
                                <label class="col-sm-1 control-label">Agencia:</label>
                                <div class="col-sm-3">
                                    <select class="selectpicker" data-live-search="false" data-width="100%" ng-model="sucursal" ng-change="getDepartamento()">
                                        <option value="">Seleccione la Agencia</option>
                                         <option ng-repeat="agencia in agencias" value="{{agencia.idSucursal}}">{{agencia.nombre}}</option> 
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label">Departamento:</label>
                                <div class="col-sm-3">
                                    <select class="selectpicker" data-live-search="false" data-width="100%">
                                        <option>Seleccione el Departamento</option>
                                        <option ng-repeat="departamento in departamentos" value="{{departamento.idDepartamento}}">{{departamento.nombre}}</option>
                                    </select>
                                </div>
                                <label class="col-sm-1 control-label">División:</label>
                                <div class="col-sm-3">
                                    <select class="selectpicker" data-live-search="false" data-width="100%">
                                        <option>Seleccione la División</option>
                                        <option ng-repeat="division in divisiones" value="{{division.idDivision}}">{{division.nombre}}</option>
                                    </select>
                                </div>
                                <label class="col-sm-1 control-label">Rango de Fechas:</label>
                                <div class="col-sm-3">
                                    <div class="input-group input-daterange" calendar>
                                        <input type="text" class="form-control" name="start" ng-model="fechaInicio"/>
                                        <span class="input-group-addon">a</span>
                                        <input type="text" class="form-control" name="end" ng-model="fechaFin"/>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-info pull-right" type="submit"><i class="ti-search"></i> Buscar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End page content-->
</div>