.datepicker-dropdown.datepicker-orient-bottom:after {
        bottom: 0;
        border-bottom: 0;
        border-top: 6px solid #fff
    }
    
    .datepicker-dropdown.datepicker-orient-bottom:before {
        bottom: 0;
        border-bottom: 0;
        border-top: 7px solid #fff
    }